
<div class="lists-show-container">
  <div class="lists-show-card-banner">
    <h2><%= @list.name %></h2>
  </div>
  <div class="lists-books-grid">
    <div class="lists-book-container">
      <% @list.book_lists.each do |book_list| %>
      <div class="lists-book-card">
        <div class="lists-book-show-image">
          <%= image_tag book_list.book.image_url %>
        </div>
        <div class="lists-book-show-info">
          <h2 class="lists-book-title"><%= book_list.book.title %></h2>
          <h3 class="lists-book-author"><%= book_list.book.author %></h3>
          <div class="lists-book-delete">
            <%= link_to 'Remove', book_list_path(book_list), method: :delete, remote: :true, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>

      </div>
      <% end %>
    </div>
  </div>
  <div class="lists-show-card-links">

    <%= link_to 'Go back to books', books_path%>
  </div>


</div>


