<h2>Choose the books you want to add to your list!</h2>

<div class="holder">
  <% @books.each do |book| %>
    <%= tag.div class: "book-card", id: dom_id(book) do %>
      <div class="book-image">
        <%= image_tag book.image_url %>
      </div>
        <div class="buttons-holder">
          <button type="button" class="btn btn-danger" id="<%= book.id %>">Not interested</button>
          <%= form_with(model: BookList.new, local: false) do |f| %>
            <%= f.hidden_field :book_id, value:book.id %>
            <%= f.hidden_field :list_id, value: current_user.lists.first.id %>
            <%= f.submit %>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>
